body {
  width: 100vw;
  min-height: 100vh;
  background-color: #ffe035;
}

@mixin widthHeight($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}

@function boxSize($width: 0px, $height: false) {
  @if $height==false {
    $height: $width;
  }

  // @warn $width;
  // @warn $height;
  // while invoke need `...`
  @return ($width, $height);
}

%pseudo {
  content: '';
  display: block;
}

.face {
  position: relative;

  .noseTip {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 310px;
    margin-left: -10px;

    border: 10px solid #ffe035;
    border-top-color: black;
    border-bottom-width: 0px; // border-bottom: none;

    // Nasal bridge
    &::before {
      @extend %pseudo;
      @include widthHeight(20px, 10px);

      position: absolute;
      top: -16px;
      left: -10px;

      background-color: black;
      border-radius: 10px / 5px;
      box-shadow: 0px 0px 1px 0px black;
    }

    $n: 5deg;
    $step: 33%;

    @keyframes shakeNose {
      0% {
        transform: rotate(0deg);
      }

      @for $i from 1 to 3 {
        #{$i * $step} {
          @if $i % 2==0 {
            transform: rotate(-$n);
          }

          @else {
            transform: rotate($n);
          }
        }
      }

      100% {
        transform: rotate(0);
      }
    }

    &:hover {
      transform-origin: center bottom;
      animation: shakeNose infinite 300ms linear;
    }
  }

  .eye {
    border: 2px solid #000;
    @include widthHeight(boxSize(64px)...);
    background: #2e2e2e;
    border-radius: 100%;

    position: absolute;
    top: 270px;
    left: 50%;
    margin-left: -32px;
    transform: translateX(-150px);

    &-right {
      transform: translateX(150px);
      ;
    }

    // pupil
    &::before {
      @extend %pseudo;
      @include widthHeight(boxSize(30px)...);
      border-radius: 100%;
      background-color: whitesmoke;
      position: relative;
      left: 5px;
      top: 5px;
    }
  }

  .cheek {
    z-index: 2;
    $cheek-widthHeight: 86px;

    %cheekDefault {
      border: 2px solid #000;
      background-color: red;
      @include widthHeight(boxSize($cheek-widthHeight)...);
      border-radius: 50%;

      position: absolute;
      top: 400px;
      left: 50%;
      margin-left: -$cheek-widthHeight/2;
    }

    &-left {
      @extend %cheekDefault;
      transform: translateX(-180px);
    }

    &-right {
      @extend %cheekDefault;
      transform: translateX(180px);
    }
  }

  .mouth {
    @include widthHeight(220px, 200px);
    position: absolute;
    left: 50%;
    top: 350px;
    margin-left: -110px;

    .lip {
      z-index: 1;
      position: relative;

      %lips {
        background-color: #ffe035;
        @include widthHeight(110px, 30px);

        border: 4px solid black;
        border-top-width: 0px;
        border-right-width: 0px;
        border-top-color: #ffe035;
        border-top-right-radius: 60px 30px;

        // mustache
        &::after {
          @extend %pseudo;

          @include widthHeight(100%, 0.01px);
          border: 2px solid #ffe035;
          outline: 1px solid #ffe035;
          position: absolute;
          top: -3px;
          left: 1px;
        }
      }

      @mixin border($bd-b-l-rad: 60px 30px, $rotate:rotate(-20deg)) {
        border-bottom-left-radius: $bd-b-l-rad;
        transform: $rotate;
      }

      &>.lip-left {
        @extend %lips;
        @include border;
      }

      &>.lip-right {
        @extend %lips;
        @include border(60px 30px, translate(110px, -30px) scaleX(-1) rotate(-20deg));
      }
    }

    .jaw {
      @include widthHeight(100%, 220px);

      position: absolute;
      top: 8px;

      // hide lower jaw
      overflow: hidden;
      border-radius: 50% 50% 00/ 25% 25% 0 0;

      .lowerJaw {
        $jaw-width: 180px;
        @include widthHeight($jaw-width, 580px);

        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -($jaw-width)/2;

        border: 3px solid #000;
        border-radius: 50% / 50%;
        background-color: #9b000a;

        // hide tongue
        overflow: hidden;

        // tongue
        &::after {
          @extend %pseudo;
          $tongue-width: 200px;
          $tongue-height: 380px;
          @include widthHeight($tongue-width, $tongue-height);
          background-color: #ff485f;

          position: absolute;
          bottom: -$tongue-height/2;
          left: 50%;
          margin-left: -$tongue-width/2;
          border-radius: 100px;
        }
      }
    }
  }
}