body {
  width: 100vw;
  min-height: 100vh;
  background-color: #ffe035;
}

@mixin widthHeight($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}

@function boxSize($width: 0px, $height: false) {
  @if $height==false {
    $height: $width;
  }

  // @warn $width;
  // @warn $height;
  // while invoke need `...`
  @return ($width, $height);
}

.face {
  position: relative;

  .noseTip {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 310px;
    margin-left: -10px;

    border: 10px solid #ffe035;
    border-top-color: black;
    border-bottom-width: 0px; // border-bottom: none;

    // Nasal bridge
    &::before {
      content: '';
      display: block;
      position: absolute;
      @include widthHeight(20px, 10px);
      top: -16px;
      left: -10px;
      background-color: black;
      border-radius: 10px / 5px;
      box-shadow: 0px 0px 1px 0px black;
    }
  }


  .eye {
    border: 2px solid #000;
    @include widthHeight(boxSize(64px)...);
    background: #2e2e2e;
    border-radius: 100%;

    position: absolute;
    top: 270px;
    left: 50%;
    margin-left: -32px;
    transform: translateX(-150px);

    &-right {
      transform: translateX(150px);
      ;
    }

    // pupil
    &::before {
      content: '';
      display: block;
      @include widthHeight(boxSize(30px)...);
      border-radius: 100%;
      background-color: whitesmoke;
      position: relative;
      left: 5px;
      top: 5px;
    }
  }

  .mouth {
    @include widthHeight(220px, 200px);
    position: absolute;
    left: 50%;
    top: 350px;
    margin-left: -110px;

    .lip {
      z-index: 1;
      position: relative;

      %lips {
        background-color: #ffe035;
        @include widthHeight(110px, 30px);

        border: 4px solid black;
        border-top-width: 0px;
        border-right-width: 0px;
        border-top-color: #ffe035;
        border-top-right-radius: 60px 30px;

        // mustache
        &::after {
          content: '';
          display: block;

          @include widthHeight(100%, 0.01px);
          border: 2px solid #ffe035;
          outline: 1px solid #ffe035;
          position: absolute;
          top: -3px;
          left: 1px;
        }
      }

      @mixin border($bd-b-l-rad: 60px 30px, $rotate:rotate(-20deg)) {
        border-bottom-left-radius: $bd-b-l-rad;
        transform: $rotate;
      }

      &>.lip-left {
        @extend %lips;
        @include border;

      }

      &>.lip-right {
        @extend %lips;
        @include border(60px 30px, translate(110px, -30px) scaleX(-1) rotate(-20deg));

      }
    }

    .jaw {
      @include widthHeight(100%, 220px);

      position: absolute;
      top: 8px;
      overflow: hidden;
      border-radius: 50% 50% 50% 50% / 20% 20% 80%;

      // tongue
      &::before {
        border: 1px solid #000;
      }

      //lower jaw
      &::after {
        $jaw-width: 180px;
        content: '';
        display: block;
        @include widthHeight($jaw-width, 580px);

        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -($jaw-width)/2;

        border: 1px solid #000;
        border-radius: 50% / 50%;

        background-color: #ff485f;
      }
    }
  }
}